.contactus-section {
    padding-top: 91px;
    padding-bottom: 86px;
    background-color: $color-gray-100;

    .container {
        display: flex;
        justify-content: center;
        
        .contacts-wrapper {
            display: grid;
        grid-auto-columns: 422px;
        grid-auto-rows: 200px;


        .top-box {
            grid-column: 1 / 4;
            grid-row: 1;

        }

        .address-box {
            grid-column: 1 / 2;
            grid-row: 2;
            width: 259px;

            display: flex;
            flex-direction: column;

            .address-title {
                color: $color-gray-900;
                font-feature-settings: 'clig' off, 'liga' off;
                font-family: "Chivo";
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 1.22;

                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 13px;

                &::before {
                    content: "";
                    width: 18px;
                    height: 18px;
                    background: url(../imgs/template/icons/icon-home.svg) no-repeat;
                    background-size: contain;

                }
            }
            
        }

        .form-box {
            grid-column: 2 / 4;
            grid-row: 2 / 4;
            width: 897px;

            form {
                display: flex;
                flex-direction: column;
            }

            .submit-wrapper {
                display: flex;
                flex-direction: row;
                gap: 65px;
            }
        }
        }
    }
}