.about-section 
    .container
      h2.about-title Built exclusively for you
      p.about-description Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit laborum — semper quis lectus nulla.
      ul.step-list 
        li.step-card.acquisition
            .card-text
                p.card-title 1. Acquisition 
                p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit laborum — semper quis lectus nulla.
        li.step-card.activation
            .card-text 
                p.card-title 2. Activation
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        li.step-card.retention  
            .card-text
                p.card-title 3. Retention 
                p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

