.contactus-section
  .container
    .contacts-wrapper
        .top-box
            h2 contact us
            p Have an prject in mind?
            p The right move at the right time saves your investment. live the dream of expanding your business.
        .address-box 
            p.address-title Corporation
            p 4517 Washington Ave. Manchester, Kentucky 39495
            a(href="tel:+(239)5550108") (239) 555-0108
            a(href="mailto:contact@company.com") contact@company.com

        .form-box 
            form
                input(type="text")
                input(type="text") 
                textarea(name="message", cols="60", rows="10") 
                .submit-wrapper
                    button(type="submit" ) Send Message
                    p By clicking contact us button, you agree our terms and policy,