.contactus-section
  .container
    .contacts-wrapper
        .top-box
            h2.contactus-title contact us
            p.contactus-lozung Have an prject in mind?
            p.contactus-description The right move at the right time saves your investment. live the dream of expanding your business.
        .second-box    
            address.address-box 
                p.address-title Corporation
                p.location 4517 Washington Ave. Manchester, Kentucky 39495
                a.address-link.phone(href="tel:+(239)5550108") (239) 555-0108
                a.address-link.email(href="mailto:contact@company.com") contact@company.com

            .form-box 
                form.contact-us-form
                    input(type="text" name="name" placeholder="Name" required)
                    input(type="email" name="email" placeholder="Email" patern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-z]{2,}$" required)
                    textarea(name="message" cols="60" rows="10" placeholder="Message" required)
                    .submit-wrapper
                        button(type="submit" ) Send Message
                        p By clicking contact us button, you agree our terms and policy,

                        