.hero-section 
  .container 
    .hero-text-block 
      h1 We are <span>awesome team</span> for your business dream
      p Integrated workflow designed for product teams. We create world-class development and branding
      .buttons-box
        a(href="/page-signup.html").button Get Started
        a(href="/learn-more.html").link Learn More
    .hero-img-block 
      img(src="../assets/imgs/template/hero-girl-vr.png")